<header class = 'Flow_links'>
    <a href="https://www.linkedin.com/in/kevin-lee-melendrez-/" target="_blank" class="logo">Kevin Melendrez</a>
    <ul>
        <li> <a href="#Home_s" class="active">Home</a> </li>
        <li> <a href="#Section_1">About</a> </li>
        <li> <a href="#Section_2">experience</a> </li>
        <li> <a href="#Section_3">Projects</a> </li>
    </ul>
</header>


<section class = 'section_one_images'>
    <img src="assets/Images/Ocean_line.png " id="Sea" >
    <img src="assets/Images/2.png" id="Moon">
    <h2 id="text">Welcome</h2>
    <a href="#" id="btn">Explore</a>
    <img src="assets/Images/3.png" id="Clouds">
    <img src="assets/Images/4.png" id="refs">
    

</section>