<div id="Section_3"></div>
<div class="sec" id="sec" style="justify-content: center; flex-direction: column !important;">
    

    <div class="slidesd_daddy">
        <div class="slideshow-container">

            <div class="mySlides fade"  style="height: auto; width: 100%;">
                <div class="project_ima">
                    <img src="assets/Images/WEBSITE.png" style="width:100%">
                </div>
            
                <div class="words_un" >This Website - A personal project showcase website illustrates my diverse skills and creativity in web development. Using HTML, CSS, and JavaScript, I crafted captivating projects, demonstrating expertise in various programming languages. With intuitive user experiences and engaging layouts.
                </div>
            
            </div>
        
            <div class="mySlides fade">
                <div class="project_ima">
                    <img src="assets/Images/Angiers_colot.png" style="width:100%;">
                </div>
                
                <div class="words_un" >Angie's Restaurant (Fictitious Pizza Restaurant) - Designed a full-stack pizza ordering website for 'Angie's Restaurant' using Python, Flask, SQLAlchemy, Bootstrap, and Stripe. Users can create accounts, log in securely, and place orders through an intuitive interface. Employed strong OOP skills to streamline menu item management and order processing. Implemented a secure payment system with Stripe and integrated email notifications for order updates, emphasizing data security and effective communication.</div>
            </div>
        
            <div class="mySlides fade">
                
                <div class="project_ima">
                    <img src="assets/Images/AIR.png" style="width:100%">
                </div>
                
                <div class="words_un" >A.I.R (Advanced Intelligent Weather Reporter) - A Python-powered weather application that fetches real-time weather data for any city. Developed with a passion for coding, A.I.R provides comprehensive weather statistics and forecasts to aid in daily planning. Gained expertise in working with API keys to access external weather data sources. A.I.R showcases problem-solving skills, data processing, and user-friendly design. A valuable project that enhances my proficiency as a developer.</div>
        
            </div>
        
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        
    
    </div>

</div>