

<div class="About_Me_Section_container">
    <div class="pleas_work" >
        <div>
            <span class="auto_type"></span>
            
            <p>I am an 19-year-old programmer in my sophomore year of college (class of 2026) with a passion for software engineering.
                I enjoy building meaningful products that can express my creativity through code.
                <br><br>

                Im currently Sutryfing at U.T. Arlington as a MIS major with a strogn passion for coding 
                I have experience in HTML, CSS, Javascript, Python,flask I am currently stillexplorng
                <br><br>
                So lets dive depper into who I am and what I do.

        
            </p>
        </div>
        <div class="school">
            <img class ='school_photo' src="assets/Images/school_phto.jpg" alt="" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>