<div id="Section_2"></div>

<div class="sec" id="sec" style=" justify-content: center; flex-direction: column;">
    <div class ='My_exp_Title'>
        <h2 style="display: flex; justify-content: center;">My Experience...</h2>
    </div>
    
    <div class="Work_slides_containter">
        <div class="job">
            <div class="hidden">
                <h1>C.F.D.I.S.D</h1>
                <h2>May 2022 - Aug 2022</h2>
                <br>
                <h2> IT Internship</h2>
                <br>
                <div class="descript">
                    <p style="font-weight: 600;">I Spent my 2022 summer working for the Carrollton farmers branch school district within their IT department. 
                        <br><br>This job entitled me to assemble and disassemble electrical components as well work with others to solve tech-related issues. 
                        <br><br>The skills I learned from this job have allowed me to think outside the box when facing tech issues as sometimes the most complex issues have simple solutions.</p>
                </div>    
            </div>
        </div>

        <div class="job">
            <div class="hidden">
                <h1>Lavner</h1>
                <h2>May 2023 - Aug 2023</h2>
                <br>
                <h2> IT Internship</h2>
                <br>
                <div class="descript">
                    <p style="font-weight: 600;">I spent my 2023 summer working as an IT intern and counselor, teaching students aged 8+ up to teenagers about STEM-related courses such as computer robotics, coding courses, AI coding, and more. 
                        <br><br>My daily responsibilities include monitoring and assessing students' progress and collaborating with fellow IT instructors. Additionally, I actively participate in team meetings, conduct self-research on topics taught, and utilize educational technologies to enhance the learning experience.</p>
                </div>
                
            </div>
        </div>
        
        <div class="job" >
            

            <div class="hidden">
                <h1>Walmart</h1>
                <h2>May 2020 - Apr 2022</h2>
                <br>
                <h2>Front-End Associate</h2>
                <br>
                <div class="descript">
                    <p style="font-weight: 600;">My career at Walmart started at the beginning of 2020 as a way to save up money for a computer. 
                        <br><br>Working at Walmart not only allowed me to get my computer but to gain beneficial life skills like time management, communication skill, and organization.</p>
                </div>
                
            </div>
        </div>

        </div>

    </div>